<section class="container my-4 as-pipes">
    <div class="row mb-3">
      <div class="col">
        <strong>CPF:</strong> From {{DATARAW.cpf}} to
        <span id="pipe-cpf" class="pipe-result">{{DATARAW.cpf | cpf}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>CNPJ:</strong> From {{DATARAW.cnpj}} to
        <span id="pipe-cnpj" class="pipe-result">{{DATARAW.cnpj | cnpj}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>CEP:</strong> From {{DATARAW.cep}} to
        <span id="pipe-cep" class="pipe-result">{{DATARAW.cep | cep}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Currency (Money):</strong> From {{DATARAW.currency}} to
        <span id="pipe-currency" class="pipe-result">{{DATARAW.currency | currencyBrazil}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Currency (Money) without decimal:</strong> From {{DATARAW.currency}} to
        <span id="pipe-currency" class="pipe-result">{{DATARAW.currency | currencyBrazil: 0}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Currency (Money) with 4 decimais:</strong> From {{DATARAW.currency}} to
        <span id="pipe-currency" class="pipe-result">{{DATARAW.currency | currencyBrazil: 4}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Number:</strong> From {{DATARAW.number}} to
        <span id="pipe-number" class="pipe-result">{{DATARAW.number | numberBrazil: 2}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Number without decimal:</strong> From {{DATARAW.number}} to
        <span id="pipe-number" class="pipe-result">{{DATARAW.number | numberBrazil: 0}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Number with 4 decimais:</strong> From {{DATARAW.number}} to
        <span id="pipe-number" class="pipe-result">{{DATARAW.number | numberBrazil: 4}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Inscrição Estadual:</strong> From {{DATARAW.inscricaoestadual.MG}} to
        <span id="pipe-inscricaoestadual" class="pipe-result">{{DATARAW.inscricaoestadual.MG | inscricaoestadual: 'MG'}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>PIS/PASEP:</strong> From {{DATARAW.pispasep}} to
        <span id="pipe-pispasep" class="pipe-result">{{DATARAW.pispasep | pispasep}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>License Plate (Old):</strong> From {{DATARAW.licensePlate}} to
        <span id="pipe-licensePlate" class="pipe-result">{{DATARAW.licensePlate | licensePlate}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>License Plate (Mercosul):</strong> From {{DATARAW.licensePlateMercosul}} to
        <span id="pipe-licensePlateMercosul" class="pipe-result">{{DATARAW.licensePlateMercosul | licensePlate}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Renavam:</strong> From {{DATARAW.renavam}} to
        <span id="pipe-renavam" class="pipe-result">{{DATARAW.renavam | renavam}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>RG:</strong> From {{DATARAW.rg}} to
        <span id="pipe-rg" class="pipe-result">{{DATARAW.rg | rg}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Time:</strong> From {{DATARAW.time}} to
        <span id="pipe-time" class="pipe-result">{{DATARAW.time | time}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Phone:</strong> From {{DATARAW.phoneNumber}} to
        <span id="pipe-phone" class="pipe-result">{{DATARAW.phoneNumber | phoneNumber}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Cellphone:</strong> From {{DATARAW.cellphoneNumber}} to
        <span id="pipe-cellphone" class="pipe-result">{{DATARAW.cellphoneNumber | phoneNumber}}</span>
      </div>
    </div>
    
    <div class="row mb-3">
      <div class="col">
        <strong>Título:</strong> From {{DATARAW.titulo}} to
        <span id="pipe-titulo" class="pipe-result">{{DATARAW.titulo | titulo}}</span>
      </div>
    </div>
  </section>
  