<section class="form-section without-mask">
    @if (formNoMask) {
    <form [formGroup]="formNoMask" (submit)="submit(formNoMask)">
      <!-- CPF Section -->
      <div class="form-group cpf">
        <label for="mask-cpf">CPF</label>
        <input id="no-mask-cpf" type="text" formControlName="cpf" cpf [class.is-invalid]="formDataValidate.cpf && (controls['cpf']?.touched || controls['cpf']?.dirty)">
        <div class="generate">
            <button type="button" (click)="generate('cpf')">Generate CPF</button>
            @if (generated.cpf) { <span>Generated CPF: <b>{{generated.cpf}}</b></span> }
        </div>
        <small class="example">Get working example at: <a href="https://www.geradordecpf.org" target="_blank">CPF Generator</a></small>
        @if (formData.cpf) { <span>CPF: {{formData.cpf}}</span> }
        <app-error-container [errors]="formDataValidate.cpf" [fieldName]="'CPF'"></app-error-container>
      </div>
      <!-- CNPJ Section -->
      <div class="form-group cnpj">
        <label for="mask-cnpj">CNPJ</label>
        <input id="no-mask-cnpj" type="text" formControlName="cnpj" cnpj [class.is-invalid]="formDataValidate.cnpj && (controls['cnpj']?.touched || controls['cnpj']?.dirty)">
        <div class="generate">
            <button type="button" (click)="generate('cnpj')">Generate CNPJ</button>
            @if (generated.cnpj) { <span>Generated CNPJ: <b>{{generated.cnpj}}</b></span> }
        </div>
        <small class="example">Get working example at: <a href="https://www.geradorcnpj.com" target="_blank">CNPJ Generator</a></small>
        @if (formData.cnpj) { <span>CNPJ: {{formData.cnpj}}</span> }
        <app-error-container [errors]="formDataValidate.cnpj" [fieldName]="'CNPJ'"></app-error-container>
      </div>
  
      <!-- CEP Section -->
      <div class="form-group">
        <label for="mask-cep">CEP</label>
        <input id="no-mask-cep" type="text" formControlName="cep" cep [class.is-invalid]="formDataValidate.cep && (controls['cep']?.touched || controls['cep']?.dirty)">
        @if (formData.cep) { <span>CEP: {{formData.cep}}</span> }
        <app-error-container [errors]="formDataValidate.cep" [fieldName]="'CEP'"></app-error-container>
      </div>
  
      <!-- Currency Section -->
      <div class="form-group">
        <label for="mask-currency">Currency</label>
        <input id="no-mask-currency" type="text" formControlName="currency" currency [class.is-invalid]="formDataValidate.currency && (controls['currency']?.touched || controls['currency']?.dirty)">
        @if (formData.currency) { <span>Currency: {{formData.currency}}</span> }
        <app-error-container [errors]="formDataValidate.currency" [fieldName]="'CURRENCY'"></app-error-container>
      </div>
  
      <!-- RG Section -->
      <div class="form-group">
        <label for="mask-rg">RG</label>
        <input id="no-mask-rg" type="text" formControlName="rg" rg [class.is-invalid]="formDataValidate.rg && (controls['rg']?.touched || controls['rg']?.dirty)">
        @if (formData.rg) { <span>RG: {{formData.rg}}</span> }
        <app-error-container [errors]="formDataValidate.rg" [fieldName]="'RG'"></app-error-container>
      </div>
  
      <!-- Inscrição Estadual Section -->
      <div class="form-group inscricao-estadual">
        <label for="mask-inscricaoestadual">Inscrição Estadual</label>
        <div class="input-group">
          <select formControlName="state" 
                  (change)="changeState($event)" 
                  [class.is-invalid]="formDataValidate.inscricaoestadual && (controls['state']?.touched || controls['state']?.dirty)">
            @for (e of states; track e) {
                <option class="uppercase" [value]="e">{{ e }}</option>
              }
          </select>
          
          <input id="no-mask-inscricaoestadual" type="text" formControlName="inscricaoestadual" [class.is-invalid]="formDataValidate.inscricaoestadual && (controls['inscricaoestadual']?.touched || controls['inscricaoestadual']?.dirty)">
        </div>
        @if (formData.inscricaoestadual) { <span>Inscrição Estadual ({{state}}): {{formData.inscricaoestadual}}</span> }
        <app-error-container [errors]="formDataValidate.inscricaoestadual" [fieldName]="'INSCRICAOESTADUAL'"></app-error-container>
      </div>
  
      <!-- Número Section -->
      <div class="form-group">
        <label for="mask-number">Número</label>
        <input id="no-mask-number" type="text" formControlName="number" number [class.is-invalid]="formDataValidate.number && (controls['number']?.touched || controls['number']?.dirty)">
        @if (formData.number) { <span>Número: {{formData.number}}</span> }
        <app-error-container [errors]="formDataValidate.number" [fieldName]="'NUMBER'"></app-error-container>
      </div>
  
      <!-- PIS/PASEP Section -->
      <div class="form-group">
        <label for="mask-pispasep">PIS/PASEP</label>
        <input id="no-mask-pispasep" type="text" formControlName="pispasep" pispasep [class.is-invalid]="formDataValidate.pispasep && (controls['pispasep']?.touched || controls['pispasep']?.dirty)">
        @if (formData.pispasep) { <span>PIS/PASEP: {{formData.pispasep}}</span> }
        <app-error-container [errors]="formDataValidate.pispasep" [fieldName]="'PISPASEP'"></app-error-container>
      </div>
  
      <!-- License Plate Section -->
      <div class="form-group">
        <label for="mask-license-plate">License Plate</label>
        <input id="no-mask-license-plate" type="text" formControlName="licensePlate" licensePlate [class.is-invalid]="formDataValidate.licensePlate && (controls['licensePlate']?.touched || controls['licensePlate']?.dirty)">
        @if (formData.licensePlate) { <span>License Plate: {{formData.licensePlate}}</span> }
        <app-error-container [errors]="formDataValidate.licensePlate" [fieldName]="'LICENSEPLATE'"></app-error-container>
      </div>
  
      <!-- Renavam Section -->
      <div class="form-group">
        <label for="mask-renavam">Renavam</label>
        <input id="no-mask-renavam" type="text" formControlName="renavam" renavam [class.is-invalid]="formDataValidate.renavam && (controls['renavam']?.touched || controls['renavam']?.dirty)">
        @if (formData.renavam) { <span>Renavam: {{formData.renavam}}</span> }
        <app-error-container [errors]="formDataValidate.renavam" [fieldName]="'RENAVAM'"></app-error-container>
      </div>
  
      <!-- PhoneNumber Section -->
      <div class="form-group">
        <label for="mask-phoneNumber">Phone Number</label>
        <input id="no-mask-phoneNumber" type="text" formControlName="phoneNumber" phoneNumber [class.is-invalid]="formDataValidate.phoneNumber && (controls['phoneNumber']?.touched || controls['phoneNumber']?.dirty)">
        @if (formData.phoneNumber) { <span>Phone Number: {{formData.phoneNumber}}</span> }
        <app-error-container [errors]="formDataValidate.phoneNumber" [fieldName]="'PHONENUMBER'"></app-error-container>
      </div>
  
      <!-- Time Section -->
      <div class="form-group">
        <label for="mask-time">Time</label>
        <input id="no-mask-time" type="text" formControlName="time" time [class.is-invalid]="formDataValidate.time && (controls['time']?.touched || controls['time']?.dirty)">
        @if (formData.time) { <span>Time: {{formData.time}}</span> }
        <app-error-container [errors]="formDataValidate.time" [fieldName]="'TIME'"></app-error-container>
      </div>
  
      <!-- Título Section -->
      <div class="form-group">
        <label for="mask-titulo">Título</label>
        <input id="no-mask-titulo" type="text" formControlName="titulo" titulo [class.is-invalid]="formDataValidate.titulo && (controls['titulo']?.touched || controls['titulo']?.dirty)">
        @if (formData.titulo) { <span>Título: {{formData.titulo}}</span> }
        <app-error-container [errors]="formDataValidate.titulo" [fieldName]="'TITULO'"></app-error-container>
      </div>
  
      <button type="submit">Submit Form</button>
    </form>
    }
</section>
  